#orp_log {
	background-color: #232323;
	height: 500px;
    max-height: 100%;    
    border-radius: 10px;
    border: solid 2px #232323;
	position: relative;
}

#orp_log span {
    padding: 0 20px;
	display: block;
}

#orp_log .data {
    color: #5fff55;
    line-height: 1.2em;
    overflow-y: auto;
    font-family: monospace;
    white-space: pre;
    max-height: 100%;
}
#orp_log .data::-webkit-scrollbar {
    -webkit-appearance: none;
}

#orp_log .data::-webkit-scrollbar:vertical {
    width: 11px;
}

#orp_log .data::-webkit-scrollbar:horizontal {
    height: 11px;
}

#orp_log .data::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #232323; /* should match background, can't be transparent */
    background-color: rgba(255, 255, 255, .5);
}
