.audio-actions {
	float: right;
}


.id-type {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
    padding-bottom: 20px;
    width: fit-content;
}


/* Gray Box Toggle Options */
.gray-box {
	background-color: #f7f7f7;
	padding-bottom: 6px;
	overflow: auto;	
}

.gray-box span.switchery {
	margin-top: 6px;
    float: right;
}

.gray-box .col-md-3 {
	float: right;
}


.knob_wrapper {
    float: left;
    width: 130px;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;    	
}

.knob_wrapper input {
	font-size: 29px!important;
	color: #5a5a5a!important;
}

.knob_wrapper label {
	width: 100%;
	text-align: center;
}

/* DataTables style overrides */
table.dataTable thead > tr > th {
    padding-left: 30px;
    padding-right: 8px!important;
}

table.dataTable thead > tr > .sorting_disabled {
    padding-left: 8px;
    padding-right: 8px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    left: 8px;
    right: auto;
}

table.dataTable thead > tr > th {
    padding-left: 30px;
    padding-right: 8px!important;
}

table.dataTable td.options .nav-pills {
    float: right;
}

table.dataTable td.options .dropdown-menu {
    left: -100px;
}

table.dataTable tbody>tr.selected {
	background-color: rgba(141, 198, 63, .25);
}
