#backup-table-responsive .dropdown-toggle {
	padding: 0!important;
}

table.dataTable thead > tr > th {
    padding-left: 30px;
    padding-right: 8px!important;
}

table.dataTable thead > tr > .sorting_disabled {
    padding-left: 8px;
    padding-right: 8px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    left: 8px;
    right: auto;
}


table.dataTable tbody>tr.selected {
	background-color: rgba(141, 198, 63, .25);
}


.backupRow .dateCol{
	text-transform: capitalize;
}