#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_installinit:
	mkdir -p debian/openrepeater/etc/openrepeater
	mkdir -p debian/openrepeater/usr/bin
	mkdir -p debian/openrepeater/usr/share/openrepeater/sounds
	mkdir -p debian/openrepeater/usr/share/examples/openrepeater/install
	mkdir -p debian/openrepeater/var/lib/openrepeater/db
	mkdir -p debian/openrepeater/var/www/openrepeater
	cp -rp install debian/openrepeater/usr/share/openrepeater
	cp -rp install/svxlink-conf debian/openrepeater/etc/openrepeater/svxlink
	cp -rp install/scripts/* debian/openrepeater/usr/bin
	cp -rp install/courtesy_tones debian/openrepeater/usr/share/openrepeater/sounds
	cp -rp theme functions includes *.php debian/openrepeater/var/www/openrepeater

override_dh_fixperms:
	dh_fixperms
	chmod a+x debian/openrepeater/usr/bin/*

%:
	dh $@ 

.PHONY: build
