select#orp_Mode {
    min-width: 300px;
}

#portsWrap {
	overflow: hidden;
}

.portRow {
	background-color: #f0f0f0;
    overflow-x: auto;
    white-space: normal;
   	min-height: 40px;
	padding: 5px;
	width: 100%;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

.portRow.additional {
	margin-top: 8px;
}

.portRow.special {
	background-color: #feffcc;
	min-height: 10px;
}

.portRow.special a.addPort, .portRow.special a.removePort{
	margin: 0;
    padding: 5px;
}


.portRow span {
    display: inline-block;
    white-space: normal;
	margin: 0 4px;
	padding: 4px;
	float: left;
}

.portRow span.rx {
	border: 2px solid #4e8f00;
}

.portRow span.tx {
	border: 2px solid #c21900;
}

a.addPort, a.removePort {
float:left;
margin-top: 12px;
margin-left: 5px;
}

#noPorts {
	margin-bottom: 10px;
}

#noPorts .addPort, #noPorts .removePort {
	margin: 0;
}


input, select {
	float: left;
}


.portLabel {
}

.rxMode {
}

.rxGPIO {
	width: 40px;	
	margin-right: 3px;
}

.rxAudioDev {
	width: 250px;	
}

.txGPIO {
	width: 40px;
	margin-right: 3px;
}

.txAudioDev {
	width: 250px;
}


button.port_settings {
	margin-top: 5px;
	float: left;
	padding: 5px 7px;
	margin-left: 2px;
	margin-right: 5px;
}


/* Field Colors */
.rxMode, .rxGPIO, .rxAudioDev, .rxGPIO_active {
	background-color: #cffccf!important;
}

.txGPIO, .txAudioDev, .txGPIO_active {
	background-color: #ffc9d1!important;	

}



/*
@media screen and (-webkit-min-device-pixel-ratio:0) {  
safari and chrome
    select {
        height:30px;
        line-height:30px;
        background:#f4f4f4;
    } 
}
select::-moz-focus-inner { Remove button padding in FF
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() {  targets Firefox only 
    select {
        padding: 15px 0!important;
    }
}        
@media screen\0 {  IE Hacks: targets IE 8, 9 and 10
    select {
        height:30px;
        line-height:30px;
    }     
}
*/