/* @override https://192.168.1.132/theme/css/page-courtesy_tone.css */


button.btn.backup {
	float: left;
}

button.btn.upload {
	float: right;
}

.box-content {
	overflow: auto
}

/* @group Mods to File Upload Field */

#uniform-file.uploader {
	width: 400px;
}

#uniform-file span.filename {
	width: 292px;
}

#uniform-file span.action {
	float: right;
}

input#file {
	width: 400px;
}

/* @end */

